  <%= form_for ([@lesson, @lesson.bookings.new]) do |f| %>
  <head>
        <%= max_size = @lesson.class_size %>
        <%= number_of_learners = @lesson.class_size %>
        <%= by_learner_total = number_of_learners * @lesson.price %>
  </head>
<div class="booking-form">
  <div class="row col-md-12">
    <div class="col-md-4 pull-left calculate">
      <h4 class="session_heading"> Total Session Cost </h4> 
    <!--DETERMINE PRICE-->
      <!--If Lesson given pricing_type free on setup then it has a cost of $0 and does not require stripe @checkout -->
        <%if @lesson.Free? %>
          <p class="cost-explainer">This lesson is offered for free. The expert may give out promotional material for students, such as a flyer, promoting related services.</p>
          <h3 class="total_cost">FREE</h3>
            <div class="back_button">
            <i class="fa fa-arrow-left" aria-hidden="true"> </i><%= link_to "Back To Lesson", "#top", class: "back_text" %> </div>
            <div class="cost_gap"></div>
        <!--If Lesson given pricing_type Learner cost is calculated as number_of_learners * per learner cost -->
        <% elsif @lesson.Learner? %>
            <p class="cost-explainer"> This lesson has a 'per learner' fee. Tell us how many students you are expecting, and we will estimate your total.</p>
            <div style="font: #000; font-size: 1.0em; text-align: center;">
              <div class="row"> 
                <br />
                <br />

              <p class="pull-left number_of_learners" > Number of Learners </p>
              <span class="number_of_learners"><%=f.number_field :number_of_learners, class: "form-field form-control pull-right number_of_learners", min: 0, max: max_size %> %></span>

              </div>
            </div>
                <br />
                <br />
              <div> <span class="booking_total"> <%= number_of_learners %>  X  $<%= @lesson.price %>0 <br> TOTAL: </span>
                <h3 class="total_cost">$ <%= by_learner_total %>0</h3>
                <div class="back_button">
                <i class="fa fa-arrow-left" aria-hidden="true"> </i><%= link_to "Back To Lesson", "#top", class: "back_text" %>
                </div>
             </div>
        <!--If Lesson given pricing_type Session cost is calculated as lesson cost * number of session (currently always one) -->
        <% elsif @lesson.Session? %>
      <div class="reservation-table">
        <p class="cost-explainer"> This lesson is provided for a flat fee for up to <%= @lesson.class_size %> students. If you have more <%= @lesson.class_size %> students you will need to book more sessions.</p>
          <div>
            <div style="font: #000; font-size: 1.0em; text-align: center;" >
              <div style="font: #000;"> Total Session Cost:  
                <h3 class="total_cost">$<%= @lesson.price %>0</h3>
                <div class="back_button">
                <i class="fa fa-arrow-left" aria-hidden="true"> </i><%= link_to "Back To Lesson", "#top", class: "back_text" %> </div>
            </div>
            <div class="cost_gap"></div>
          </div>
      </div>
    </div>
    <% end %>
  </div>

    <div class="col-md-8 pull-right">
        <div class="booking-heading">
          <h1 class="booking-title">  Book <%=@lesson.lesson_name%> </h1> <br />
        </div>
        <!--BOOTSTRAP LINKED PICKERS-->
        <div class="form-group">
            <div class='input-group date datepicker-field-design' id='booking_start_datetime' style="border: 2px #155e63">
              <%=f.text_field :start_datetime, class: "form-field form-control input-group-addon", id: "booking_start_datetime", placeholder: "start date and time" %>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <div class='input-group date datepicker-field-design' id='booking_end_datetime' style="border: 2px #155e63">
                      <%=f.text_field :end_datetime,  class: "form-field form-control input-group-addon datepicker-field-view", id: "booking_end_datetime", placeholder: "end date and time" %>
                          <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
<!--Booking Type Info -->
      <div class="row">
        <% if @lesson.Instant? %>
          <p style="text-align: center">This lesson can be booked instantly.</p>
        <% else %>
          <p style="text-align: center"> This lesson can be provisionally booked, and the expert will be in touch shortly to confirm. </p>
       <% end%>
     </div>
<!--Booking Submit Info-->
     <div class="row">
      <% if @lesson.Instant? %>
        <%= f.submit "Book Now", id: "btn_book", class: "btn btn-normal btn-block", style: "width: 50%; margin-left: 25%", disabled: false %>
      <% else %>
        <%= f.submit "Request Now", id: "btn_book", class: "btn btn-normal btn-block", style: "width: 50%; margin-left: 25%", disabled: true %>
      <% end %>
    </div>
  </div>
  </div>
</div>
  <% end %>
<!--BOOTSTRAP LINKED PICKERS SCRIPT-->


<script type="text/javascript">
    $(function () {

      $.ajax({
        url: '<%= preload_lesson_path(@lesson)%>',
        dateTyp: 'json',
        success: function(data) {

          $.each(data, function(arrID, arrValue) {
            for(var d = new DateTime(arrValue.start_datetime); d <= new DateTime(arrValue.end_datetime); d.setDateTime(d.getDateTime())){
              console.log(d);
            }
          });
        }
      });

      $('#booking_start_datetime').datetimepicker({
            useCurrent: false, //Important! See issue #1075
            format: 'DD/MM/YY HH:mm',
            inline: true,
            sideBySide: true,
            stepping: 15
      });
      $('#booking_end_datetime').datetimepicker({
            useCurrent: false, //Important! See issue #1075
            format: 'DD/MM/YY HH:mm',
            inline: true,
            sideBySide: true,
            stepping: 15
      });
      $("#booking_start_datetime").on("dp.change", function (e) {
            $('#booking_end_datetime').data("DateTimePicker").minDate(e.date);

      });

      $("#booking_end_datetime").on("dp.change", function (e) {
      $('#booking_start_datetime').data("DateTimePicker").maxDate(e.date);

      });
    });

</script>





