		<% lessons.each do |lesson| %>
				<div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-heading preview">
						<%= image_tag lesson.cover_photo(:thumb), class: "panel-heading preview-img" %>
						</div>
				<div class="panel-body">
					<span style="margin-left: 2%"><%= link_to lesson.lesson_name, lesson %><br/></span>
					$<%= lesson.price%> - <%= lesson.learning_area %> 
					<div id="star<%= lesson.id %>"> <%= pluralize(lesson.average_rating, "teacher_review") %> </div>
					<%= link_to "", listing_lesson_path(lesson), class: "btn btn-form fa fa-pencil" %>
					<%= link_to "", lesson, class: "btn btn-form fa fa-eye" %> 		
					<%= link_to "", listing_lesson_path(lesson), class: "btn btn-form fa fa-trash" %>
				</div>
					</div>
				</div>


		<script type="text/javascript">
		  $('#star<%= lesson.id %>').raty({
		    path: '/assets',
		    readOnly: true;
		    score: <%= lesson.average_rating %>
		  });
		</script>
							<% end %>